-# app/views/api/v1/products/index.html.haml

= paginate @products, remote: true

%table
  %tr
    %th products
  - @products.each do |product|
    %tr
      %td= link_to product.title, api_product_path(product)