-# app/views/api/v1/conversations/show.html.haml
.container-fluid
  .row
    .col-md-6
      %h1 Welcome to the conversation page

      = render 'api/v1/chat_entries/new', chat_entry: @chat_entry

      .pt-4
      - @chat_entries.each do |chat_entry|
        = render 'api/v1/chat_entries/chat_entry', chat_entry: chat_entry

    .col-md-6
    - @text_files.each do |title, file_name|
      = render partial: 'shared/text_content', locals: { title: title, content: File.read(Rails.public_path.join('texts', 'json', file_name)) }

= paginate @chat_entries, remote: true


-#     .col-md-6
-#       = render partial: 'shared/text_content', locals: { title: 'About Us',           content: File.read(Rails.public_path.join('texts', 'about_us.txt')) }
-#       = render partial: 'shared/text_content', locals: { title: 'FAQs',               content: File.read(Rails.public_path.join('texts', 'faqs.txt')) }
-#       = render partial: 'shared/text_content', locals: { title: 'Terms of Condition', content: File.read(Rails.public_path.join('texts', 'terms_of_condition.txt')) }

-# = paginate @chat_entries, remote: true